<%include ./partials/header%>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="info-box">
                    <span class="info-box-icon category-karfanjara"></span>
                        <div class="info-box-content">
                            <span class="info-box-text">სანტექნიქა</span>
                        </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="info-box">
                    <span class="info-box-icon category-parketi"></span>
                    <div class="info-box-content">
                        <span class="info-box-text">1000 წვრილმანი</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="info-box">
                    <span class="info-box-icon category-kafeli"></span>
                    <div class="info-box-content">
                        <span class="info-box-text">ტექნიკა</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="info-box">
                    <span class="info-box-icon category-armatura"></span>
                    <div class="info-box-content">
                        <span class="info-box-text">სამშენებლო მასალა</span>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="info-box">
                        <span class="info-box-icon category-samshMasala"></span>
                        <div class="info-box-content">
                            <span class="info-box-text">პარკეტი</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="info-box">
                        <span class="info-box-icon category-teqnika"></span>
                        <div class="info-box-content">
                            <span class="info-box-text">არმატურა</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="info-box">
                        <span class="info-box-icon category-wvrilmani"></span>
                        <div class="info-box-content">
                            <span class="info-box-text">კაფელი</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="info-box">
                        <span class="info-box-icon category-santeqnika"></span>
                        <div class="info-box-content">
                            <span class="info-box-text">კარ-ფანჯარა</span>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="container" id="container">
      <div class="row">
          <a>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-card">
                <div class="shop-number">
                    მაღაზიის ნომერი: <em>N234</em>
                </div>
            </div>
        </div>
        </a>
        <a>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-card">
                <div class="shop-number">
                    მაღაზიის ნომერი: <em>N234</em>
                </div>
            </div>
        </div>
        </a>
        <a>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-card">
                <div class="shop-number">
                    მაღაზიის ნომერი: <em>N234</em>
                </div>
            </div>
        </div>
        </a>
        <a>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-card">
                <div class="shop-number">
                    მაღაზიის ნომერი: <em>N234</em>
                </div>
            </div>
        </div>
        </a>
        <a>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="shop-card">
                <div class="shop-number">
                    მაღაზიის ნომერი: <em>N234</em>
                </div>
            </div>
        </div>
        </a>
      </div>
</div>


<%include ./partials/footer%>