body {
    background-color: #ededed;
}

#container {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: white;
    padding-top: 15px;
}

.info-box {
    display: block;
    min-height: 50px;
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.info-box:hover {
    border-bottom: 3px solid #008d4c;
}

.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
    margin-left: 70px;
    font-weight: 400;
}

.info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 50px;
    width: 70px;
    text-align: center;
    font-size: 45px;
    line-height: 90px;
    background: rgba(0,0,0,0.2);
}

.info-box-content {
    padding: 5px 10px;
}

.main-footer {
    background: #101010;
    padding: 10px;
    color: #fff;
    border-top: 1px solid #d2d6de;
    margin-bottom: 0;
}

.shop-card {
    width: 100%;
    height: 210px;
    background-color: white;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 3px;
    border: 1px solid #dbd8d8;
    border-width: 1px 1px 2px 1px;
    box-shadow: 0 1px 0 #e7e7e7;
}
.shop-card:hover {
    border-bottom: 4px solid #008d4c;
}

.shop-number {
    border: 1px #008d4c solid;
    box-shadow: 0 1px 0 #bdbdbd;
    background-color: #008d4c;
    width: 100%;
    height: 32px;
    margin-top: 0;
    color: white;
    font-weight: 300;
    padding-left: 17%;
}

.category-parketi{
    background-color: #812282;
}
.category-santeqnika{
    background-color: #00c0ef;
}
.category-wvrilmani{
    background-color: #dd4b39;
}
.category-teqnika{
    background-color: #754c97;
}
.category-samshMasala{
    background-color: #a69f09;
}
.category-armatura{
    background-color: #4e9c32;
}
.category-kafeli{
    background-color: #f39c12;
}
.category-karfanjara{
    background-color: #7877a6;
}